 /* Brands section styles */
.brandsSection {
    padding: 100px 20px;
    background-color: var(--bright-gray);
}

.brandsContainer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.brandsContainer img {
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    .brandsContainer {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .brandsSection {
        padding: 50px 20px;
    }

    .brandsContainer {
        flex-direction: column;
        align-items: center;
    }

    .brandsContainer img {
        height: 100px;
    }
}
