 /* Footer styles */
footer {
    padding: 100px 20px 20px;
}

.footerMain {
    padding-bottom: 100px;
    display: flex;
    gap: 100px;
}

.footerMain .footerInfo {
    max-width: 420px;
    font-size: 14px;
}

.footerMain .footerInfo .footerHeading {
    font-size: 26px;
    font-weight: 700;
}

.footerMain .footerInfo p {
    margin-top: 20px;
    line-height: 28px;
}

.footerMain .footerLinksContainer {
    width: 100%;
    display: flex;
}

.footerMain .footerLinksContainer>div {
    width: 25%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footerMain .footerLinksContainer h3 {
    font-size: 18px;
    font-weight: 500;
}

.footerMain .footerLinksContainer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footerMain .footerLinksContainer li {
    transition: transform 0.1s;
}

.footerMain .footerLinksContainer li:hover {
    transform: translateX(10px);
}

.footerMain .footerLinksContainer ul a {
    text-decoration: none;
    color: var(--rasin-black);
}

footer .copyrightContainer {
    max-width: 1440px;
    margin: 0 auto;
}

footer .copyrightContainer>div {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .footerMain {
        flex-direction: column;
        gap: 50px;
    }
}

@media screen and (max-width: 760px) {
    .footerMain {
        gap: 10px;
    }

    .footerMain .footerLinksContainer {
        flex-wrap: wrap;
    }

    .footerMain .footerLinksContainer>div {
        width: 50%;
        padding-top: 50px;
    }
}

@media screen and (max-width: 576px) {
    .footer-main .footer-links-container>div {
        width: 100%;
    }
}
