/* Special deals section styles */
.specialSection {
    padding: 50px 20px;
}

.specialSection .saleButtonContainer {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.specialSection .saleButtonContainer button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--text-silver);
    gap: 10px;
    font-family: "Roboto", sans-serif;
    transition: transform 0.2s;
    cursor: pointer;
}

.specialSection .saleButtonContainer button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.specialSection .salesContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.specialSection .salesContainer .salesCard {
    display: flex;
    position: relative;
    max-width: 530px;
    height: 300px;
}

.salesContainer .salesCard .salesDetails {
    position: absolute;
    padding: 20px;
    height: 100%;
    width: 100%;
    background: rgb(245, 245, 245);
    background: linear-gradient(90deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.salesContainer .salesCard .salesDetails p {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.salesContainer .salesCard .salesDetails h4 {
    font-family: "Playfair Display", serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 15px;
}

.specialSection .salesContainer .salesCard img {
    max-width: 530px;
    height: auto;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1110px) {
    .salesContainer {
        flex-wrap: wrap;
    }
}
